@model PROYECTO_FLK.Models.AgendarCitaViewModel

<form asp-action="CompletarInspeccion" asp-controller="AgendarCita" method="post" class="space-y-4">
    <input type="hidden" asp-for="InspeccionCompleta.FkEmpresas" />
    <input type="hidden" asp-for="InspeccionCompleta.FkTipoDeServicio" />
    <input type="hidden" asp-for="InspeccionCompleta.FkTipoInspecciones" />

    <!-- Campos de Descripción y Ubicación -->
    <div>
        <label class="block text-gray-700 font-bold">Descripción</label>
        <textarea asp-for="InspeccionCompleta.Descripcion" class="form-textarea mt-1 block w-full rounded-md border-gray-300"></textarea>
    </div>
    <div>
        <label class="block text-gray-700 font-bold">Ubicación</label>
        <input asp-for="InspeccionCompleta.Ubicacion" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>

    <!-- Botones de Guardar y Cancelar -->
    <div class="border-t p-4 flex justify-end space-x-4">
        <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" onclick="cerrarModal('completarInspeccion')">Cancelar</button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Guardar</button>
    </div>
</form>
