@model PROYECTO_FLK.Models.AgendarCitaViewModel

<form asp-action="RegistrarEmpresa" asp-controller="AgendarCita" method="post" class="space-y-4">
    <input type="hidden" asp-for="SelectedTipoServicioId" />
    <input type="hidden" asp-for="SelectedTipoInspeccionId" />

    <!-- Campos de la Empresa -->
    <div>
        <label class="block text-gray-700 font-bold">RUC</label>
        <input asp-for="NuevaEmpresa.Ruc" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>
    <div>
        <label class="block text-gray-700 font-bold">Nombre</label>
        <input asp-for="NuevaEmpresa.Nombre" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>

    <div>
        <label class="block text-gray-700 font-bold">Razón Social</label>
        <input asp-for="NuevaEmpresa.RazonSocial" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>
    <div>
        <label class="block text-gray-700 font-bold">Email</label>
        <input asp-for="NuevaEmpresa.Email" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>
    <div>
        <label class="block text-gray-700 font-bold">Dirección</label>
        <input asp-for="NuevaEmpresa.Direccion" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>
    <div>
        <label class="block text-gray-700 font-bold">Teléfono</label>
        <input asp-for="NuevaEmpresa.Telefono" class="form-input mt-1 block w-full rounded-md border-gray-300" />
    </div>

    <!-- Botones de Guardar y Cancelar -->
    <div class="border-t p-4 flex justify-end space-x-4">
        <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" onclick="cerrarModal('registrarEmpresa')">Cancelar</button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" onclick="mostrarModalCompletar()">Registrar</button>

    </div>


</form>

