@model PROYECTO_FLK.Models.AgendarCitaViewModel

<select id="tipoServicioSelect" asp-for="SelectedTipoServicioId" class="form-control">
    <option value="">Seleccionar Tipo de Servicio</option>
    @foreach (var servicio in Model.TiposServicios)
    {
        <option value="@servicio.PkTiposServicio">@servicio.Nombre</option>
    }
</select>

<div class="border-t p-4 flex justify-end space-x-4">
    <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" onclick="cerrarModal('seleccionarServicio')">Cancelar</button>
    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" onclick="cargarTipoInspeccion()">Seleccionar</button>
</div>
